Source: ros-noetic-ridgeback-control
Section: misc
Priority: optional
Maintainer: Tony Baltovski <tbaltovski@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-controller-interface, ros-noetic-controller-manager, ros-noetic-nav-msgs, ros-noetic-realtime-tools, ros-noetic-roslaunch, ros-noetic-tf, ros-noetic-urdf
Homepage: http://wiki.ros.org/ridgeback_control
Standards-Version: 3.9.2

Package: ros-noetic-ridgeback-control
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-controller-interface, ros-noetic-controller-manager, ros-noetic-interactive-marker-twist-server, ros-noetic-joint-state-controller, ros-noetic-joy, ros-noetic-nav-msgs, ros-noetic-realtime-tools, ros-noetic-robot-localization, ros-noetic-teleop-twist-joy, ros-noetic-tf, ros-noetic-topic-tools, ros-noetic-twist-mux, ros-noetic-urdf
Description: Controllers for Ridgeback
